<ion-header>
  <ion-toolbar>
    <ion-title>
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Photo Gallery</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img id="cat" src="../assets/cat.jpg"></ion-img>
  <div id="result1">result1</div>
  <div id="result2">result2</div>
  <div id="result3">result3</div>
  <input type="file" (change)="onFileChanged($event)" accept="image/*">
  <ion-grid>
    <ion-row>
    <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
      <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
    </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="photoService.addNewToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
