<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Visually
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container" class="home-page" >
    <div class="home-page-overlay"></div>
    <div id="logo-name">
      Visually.
    </div>
  </div>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
